*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}

/* MENU */

.contenedor{
    background-color: #2a6f97;
    min-height: 80px;
}

.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
}

.menu2{
    max-width: 1200px;
    margin: 0 auto;
}


.logo{
    font-size: 25px;
    color: #3997f1;
    text-transform: uppercase;
    font-weight: bold;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover{
    color: #3997f1;
}

#menu{
    display: none;
}

.menuicono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

/* PARRAFOS */

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  } 

.titulo{
    width: 500px;
    height: 60px;
    background-color: transparent;
    position: relative;
    top: 30px;
    left: 450px;
}

.subtitulo{
    width: 330px;
    height: 75px;
    margin: 10px;
    background-color: transparent;
    align-items: center;
    position: relative;
    left: 820px;
    top: 100px;
}

.parrafo{
    background-color: transparent;
    width: 500px;
    height: 350px;
    margin: 10px;
    position: relative;
    left: 730px;
    top: 130px;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

/* FORMULARIO */


.formulario{
    background-color: #1d4d69;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 800px;
    text-align: center;
    position: relative;
    left: 340px;
    top: 50px;
    border-radius: 20px; 
} 

form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 700px;
    outline: none;
    color: #ffffff;
}


 input{
    padding: 20px;
    width: 650px;
    height: 55px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #2a6f97 ;
    margin-bottom: 30px;
    outline: none;
    color: #ffffff;
    font-size: 16px;
} 


::placeholder{
    color: #8682a0;
    position: relative;
    left: 20px;
}

/* BOTON ENVIAR Y CANCELAR */

.contenedordiv{
    display: flex;
    flex-direction: row;
}

.btn{
    background-color: #2a6f97;
    border: 2px #2a6f97;
    cursor: pointer;
    
}

.boton{
    background-color: #780000;
    border: 2px #780000;
    cursor: pointer;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {

    /* MENU */
    
    .contenedor{
        min-height: 78px;
    }

    .menu{
        top: 0;
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(42, 111, 151, 0.8);
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    /* TEXTOS */

    .titulo{
        width: 400px;
        left: 0px;
    } 

    .subtitulo{
        left: 20px;
        top: 30px;
    }
    
    .parrafo{
        width: 400px;
        left: 15px;
        top: 5px;
        max-width: 320px;
    }

    /* MUSICA */

    .cuadradomusica{
        width: 330px;
        top: 220px;
        left: 5px;
    }

    .img{
        width: 350px;
    }
    
    /* BOTON ESCUCHAR */
    
     
    .boton1{
        margin-left: 186px;    
    }
    
    .boton2{
        margin-left: 180px;
    }
    
    .boton3{
        margin-left: 170px;
    }
    .boton4{
        margin-left: 145px;
    }   

    /* FORMULARIO */

    form{
        min-height: 0vh;
        padding: 100px 30px ;
        max-width: 290px;
        position: relative;
        top: 100px;
        right: 180px;
     }
 
     .formulario{
         max-width: 440px;
         position: relative;
         top: 10px;
         left: 168px;
         background-color: transparent;
 
     }

     input{
        width: 280px;
        position: relative;
        right: 15px;
    }
 
     .boton{
         max-width: 300px;
         position: relative;
         left: 18px;
     }

}


 