*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family:sans-serif;
    background-color: #f7f7f7;
    color: #000000;;
}

/* MENU */

.contenedor{
    background-color: #2a6f97;
    min-height: 80px;
}

.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
}

.menu2{
    max-width: 1200px;
    margin: 0 auto;
}


.logo{
    font-size: 25px;
    color: #3997f1;
    text-transform: uppercase;
    font-weight: bold;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover{
    color: #3997f1;
}

#menu{
    display: none;
}

.menuicono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

/* IMAGEN DE FONDO */

.fondo{
     background-image: url(Imagenes/form.WEBP);
     background-position: top center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 80vh;
     padding: 80px 0 0 0;
     max-width: 100%;
 }  

/* FORMULARIO */

.cuadrado{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 800px;
    text-align: center;
    position: relative;
    bottom: 25px;
    left: 300px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 700px;
    outline: none;
}

form h2{
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 35px;
} 

input{
    padding: 17px;
    width: 650px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #2a6f97 ;
    margin-bottom: 30px;
    outline: none;
    color: #ffffff;
    font-size: 16px;
}


::placeholder{
    color: #cccbd8;
}

/* DESCRIPCIÓN */

.descripcion{
    color: #ffffff;
    font-size: 20px;
}

/* BOTONES DE ENVIAR Y CANCELAR */

.contenedordiv{
    display: flex;
    flex-direction: row;
}

.btn{
    background-color: #2a6f97;
    border: 2px #2a6f97;
    cursor: pointer;
    
}

.boton{
    background-color: #780000;
    border: 2px #780000;
    cursor: pointer;
}


/* RESPONSIVE */

@media screen and (max-width: 768px) {

    /* MENU */
    
    .contenedor{
        min-height: 78px;
    }

    .menu{
        top: 0;
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(42, 111, 151, 0.8);
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .fondo{
        height: 100vh;
        padding: 100px 30px ;
        background-image: url(Imagenes/\ responsive.JPG);
        background-size: cover;
    }

    form{
       min-height: 0vh;
       padding: 100px 30px ;
       max-width: 230px;
       position: relative;
       bottom: 70px;
       right: 10px;
    }

    input{
        width: 230px;
        position: relative;
        right: 30px;
    }

    .cuadrado{
        max-width: 300px;
        height: 900px;
        position: relative;
        bottom: 70px;
        left: 5px;

    }

    .boton{
        max-width: 300px;
        position: relative;
        left: 18px;
    }

}